src/main/java/client/webdata.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WebDataImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8082/ws/webdata?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="clear">
<part name="parameters" element="tns:clear"></part>
</message>
<message name="clearResponse">
<part name="parameters" element="tns:clearResponse"></part>
</message>
<message name="getQuan">
<part name="parameters" element="tns:getQuan"></part>
</message>
<message name="getQuanResponse">
<part name="parameters" element="tns:getQuanResponse"></part>
</message>
<message name="getColumnLeng">
<part name="parameters" element="tns:getColumnLeng"></part>
</message>
<message name="getColumnLengResponse">
<part name="parameters" element="tns:getColumnLengResponse"></part>
</message>
<message name="getFieldName">
<part name="parameters" element="tns:getFieldName"></part>
</message>
<message name="getFieldNameResponse">
<part name="parameters" element="tns:getFieldNameResponse"></part>
</message>
<message name="getDataType">
<part name="parameters" element="tns:getDataType"></part>
</message>
<message name="getDataTypeResponse">
<part name="parameters" element="tns:getDataTypeResponse"></part>
</message>
<message name="getRepText">
<part name="parameters" element="tns:getRepText"></part>
</message>
<message name="getRepTextResponse">
<part name="parameters" element="tns:getRepTextResponse"></part>
</message>
<message name="getDomName">
<part name="parameters" element="tns:getDomName"></part>
</message>
<message name="getDomNameResponse">
<part name="parameters" element="tns:getDomNameResponse"></part>
</message>
<message name="getOutputLen">
<part name="parameters" element="tns:getOutputLen"></part>
</message>
<message name="getOutputLenResponse">
<part name="parameters" element="tns:getOutputLenResponse"></part>
</message>
<message name="getDecimals">
<part name="parameters" element="tns:getDecimals"></part>
</message>
<message name="getDecimalsResponse">
<part name="parameters" element="tns:getDecimalsResponse"></part>
</message>
<message name="getWebMapa">
<part name="parameters" element="tns:getWebMapa"></part>
</message>
<message name="getWebMapaResponse">
<part name="parameters" element="tns:getWebMapaResponse"></part>
</message>
<portType name="WebData">
<operation name="clear">
<input wsam:Action="http://ws/WebData/clearRequest" message="tns:clear"></input>
<output wsam:Action="http://ws/WebData/clearResponse" message="tns:clearResponse"></output>
</operation>
<operation name="getQuan">
<input wsam:Action="http://ws/WebData/getQuanRequest" message="tns:getQuan"></input>
<output wsam:Action="http://ws/WebData/getQuanResponse" message="tns:getQuanResponse"></output>
</operation>
<operation name="getColumnLeng">
<input wsam:Action="http://ws/WebData/getColumnLengRequest" message="tns:getColumnLeng"></input>
<output wsam:Action="http://ws/WebData/getColumnLengResponse" message="tns:getColumnLengResponse"></output>
</operation>
<operation name="getFieldName">
<input wsam:Action="http://ws/WebData/getFieldNameRequest" message="tns:getFieldName"></input>
<output wsam:Action="http://ws/WebData/getFieldNameResponse" message="tns:getFieldNameResponse"></output>
</operation>
<operation name="getDataType">
<input wsam:Action="http://ws/WebData/getDataTypeRequest" message="tns:getDataType"></input>
<output wsam:Action="http://ws/WebData/getDataTypeResponse" message="tns:getDataTypeResponse"></output>
</operation>
<operation name="getRepText">
<input wsam:Action="http://ws/WebData/getRepTextRequest" message="tns:getRepText"></input>
<output wsam:Action="http://ws/WebData/getRepTextResponse" message="tns:getRepTextResponse"></output>
</operation>
<operation name="getDomName">
<input wsam:Action="http://ws/WebData/getDomNameRequest" message="tns:getDomName"></input>
<output wsam:Action="http://ws/WebData/getDomNameResponse" message="tns:getDomNameResponse"></output>
</operation>
<operation name="getOutputLen">
<input wsam:Action="http://ws/WebData/getOutputLenRequest" message="tns:getOutputLen"></input>
<output wsam:Action="http://ws/WebData/getOutputLenResponse" message="tns:getOutputLenResponse"></output>
</operation>
<operation name="getDecimals">
<input wsam:Action="http://ws/WebData/getDecimalsRequest" message="tns:getDecimals"></input>
<output wsam:Action="http://ws/WebData/getDecimalsResponse" message="tns:getDecimalsResponse"></output>
</operation>
<operation name="getWebMapa">
<input wsam:Action="http://ws/WebData/getWebMapaRequest" message="tns:getWebMapa"></input>
<output wsam:Action="http://ws/WebData/getWebMapaResponse" message="tns:getWebMapaResponse"></output>
</operation>
</portType>
<binding name="WebDataImplPortBinding" type="tns:WebData">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="clear">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getQuan">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getColumnLeng">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFieldName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDataType">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getRepText">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDomName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getOutputLen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDecimals">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getWebMapa">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WebDataImplService">
<port name="WebDataImplPort" binding="tns:WebDataImplPortBinding">
<soap:address location="http://localhost:8082/ws/webdata"></soap:address>
</port>
</service>
</definitions>